*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
.sidebar{
	position: fixed;
	left: 0px;
	width: 250px;
	height: 100%;
	background-color: #042331;
}
.sidebar header{
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 60px;
	background-color: #063146;
}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 65px;
	color: white;
	font-size: 20px;
	box-sizing: border-box;
	padding-right: 50px;
	border-bottom: 1px solid black;
	transition: .5s;
}
.sidebar ul :hover a{
	padding-left: 50px;
	color: black;
}